# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environments
venv/
.venv/
env/
.env

# Data
data/
*.csv
*.zip
*.parquet

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/

# Project specific
data/raw_5m/
outputs/
