numpy==1.26.4
pandas==2.0.3
streamlit==1.31.0
pyarrow==14.0.1
altair==4.2.2

# ML Libraries
scikit-learn==1.7.1
torch==2.0.1
transformers==4.30.2
datasets==2.14.0
sentencepiece==0.1.99
tokenizers==0.13.3
torchvision==0.15.2

# Visualization
matplotlib==3.7.2
seaborn==0.12.2

# Music/Spotify
spotipy==2.23.0

# Utils
jupyterlab==4.0.5
tqdm==4.66.1
pyyaml==6.0.1
